* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: rgb(255, 243, 230);
    margin: auto;
}
       
label {
    display: inline-block;
    width: 150px;
    margin-right: 5px;
    white-space: nowrap;
    font-variant-caps: all-small-caps;
}
select {
    padding: 3px;
}
form {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 600px;
    border-radius: 5px;
    background-color: gb(255, 243, 230);
}
fieldset {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: gb(255, 243, 230);
}
footer {
    margin-left: 15%;

}
#title {
    font-variant-caps: all-small-caps;
}
#submit {
    font-weight: bold;
    background-color: gb(255, 243, 230);
}

