* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: auto;
}

label {
    display: inline-block;
    width: 150px;
    margin-right: 5px;
    white-space: nowrap;
    font-variant-caps: all-small-caps;
}

select {
    padding: 3px;
}

form {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 600px;
    border-radius: 5px;
    background-color: rgb(247, 247, 247);
}

fieldset {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
}

footer {
    margin-left: 15%;

}

#title {
    font-variant-caps: all-small-caps;
}

#submit {
    font-weight: bold;
    background-color: rgb(240, 240, 240);
}

