:root {
    --bone: #DAD0BE;
}

#main-text {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;

}

#lista {
    margin-left: 10%;
}

li {
    font-size: large;
    list-style-type: circle;
}

#profile-picture {
    height: 170px;
    border: 5px outset var(--bone);
    border-radius: 9px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.column {
  padding: 15px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.link {
    color: black;
    font-weight: bold;
}

#työkokemus-title {
    text-align: center;
}

table {
    border: 4px dashed var(--bone);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width: 60%;
}

th {
    font-size: large;
}

td {
    border-top: 2px solid var(--bone);
    border-bottom: 2px solid var(--bone);
    padding: 4px;
    text-align: center;
}


.text {
    min-width: 60%;
}

textarea {
    height: 150px;
    padding: 8px 20px;
    margin: 10px;
    min-width: 60%;
}

footer {
  text-align: center;
}

@media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
      justify-content: center;
    }
    #sukupuoli {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }
}
