:root {
    --floralwhite:  #fffaf0;
    --bone: #DAD0BE;
}

h1, h2, h3 {
    text-align: center;
}

#intro {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;  
}

figure {
    text-align: center;
}

#piano-pictures {
    max-width: 500px;
    border: 5px outset var(--bone);
    border-radius: 9px;
}

.column {
    float: left;
    width: 40%;
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%; 
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.pianos {
    margin-left: 30%;

}
ul {
    list-style: none;
  }
  
ul li {
    background-image: url('Kuvat/link.png');
    background-size: 18px 18px;
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom: 5px;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: black;
    color: var(--floralwhite);
}
table {
    border: 4px dashed var(--bone);
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
    width: 60%;
  }
th {
    font-size: large;
    border-bottom: 2px solid var(--bone);
  }
td {
    border-top: 2px solid var(--bone);
    padding: 4px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .column {
      width: 90%;
    }
    #piano-pictures {
        width: 90%;
    }
}